header {
  z-index: 2;
  position: absolute;
  width: 100%;
  padding: 1rem 1.5rem;

  @include flexbox();
  @include flex-wrap(wrap);
  @include align-items(center);
  @include flex-direction(row);

  @include pc {
    @include justify-content(space-between);
  }

  @include phone {
    @include flex-direction(column);
    @include justify-content(center);
  }

  a {
    @include white-link;
    text-decoration: none;
  }

  .header-left {
    @include flexbox();
    @include align-items(center);
    text-decoration: none;

    @include phone {
      margin-bottom: 1rem;
    }

    img + span {
      margin-left: 1rem;
    }

    img {
      @include phone {
        height: 3rem;
      }
    }
  }

  .header-right {
    @include phone {
      display: none;
    }
    svg {
      fill:white
    }
  }
}
