@mixin sans-normal() {
  font-family: $sans;
  font-weight: 700;
}

@mixin sans-thin() {
  font-family: $sans;
  font-weight: 400;
}

@mixin sans-bold() {
  font-family: $sans;
  font-weight: 900;
}

@mixin phone() {
  @include max-screen(700px)  {
    @content;
  }
}

@mixin pc() {
  @include min-screen(700px)  {
    @content;
  }
}

@mixin white-link($hover: true) {
  color: $white;
  opacity: .5;
  transition: opacity 300ms;

  @if $hover == true {
    &:hover {
      opacity: 1;
    }
  }

  & + a {
    margin-left: 1rem;
  }
}

@mixin blue-shadow {
  .shadow {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 38, 75, 0.4);
  }
}

@mixin planet($color, $rotation) {
  .speaker_photo:after {
    box-shadow: 8px 5px $color;
    transform: rotate($rotation);
  }
}
