////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$white: #fff;
$aqua: #41dcb9;
$blue: #012953;
$purple: #2c283a;


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$sans: 'proxima-nova', sans-serif;
