---
layout: default
---
<article class="home">
  <div class="home__banner">
    {% include banner.html %}
  </div>

  <div class="home__description">
    {% include space-top.html %}
    {% include description.html %}
    {% include space-bottom.html %}
  </div>

  <div class="home__wave">
    {% include wave.html %}

    <div class="home__speakers">
      {% include speakers.html %}
    </div>

    <div class="rockets__wrapper">
      {% include two-rockets.html %}
    </div>

    <div class="home__ticket">
      {% include tickets.html %}
    </div>

    <div class="wave--middle__wrapper">
      {% include wave-middle.html %}
    </div>


    <div class="home__sponsors">
      {% include sponsors.html %}
    </div>

    {% include wave-bottom.html %}

  </div>

</article>
