---
layout: default
---
<article class="home">
  <div class="home__banner">
    {% include banner.html %}
  </div>

  <div class="home__description">
    {% include space-top.html %}
    {% include description.html %}
    {% include space-bottom.html %}
  </div>

  {% include wave.html %}

  <div class="home__speakers">
    {% include speakers.html %}
  </div>

  <div class="home__ticket">
    <!-- Qui va la ticket section -->
  </div>

  <div class="home__sponsors">
    <!-- Qui va la sponsors section -->
  </div>

  {% include wave.html %}
</article>
