<div class="banner">
  <div class="banner__title">
    {% include global-header.html %}
  </div>
  <div class="banner__meta">
    {{site.date}}
  </div>
  <div class="banner__action">
    <a href="#tickets" class="button">
      Grab a ticket
    </a>
  </div>
  <div class="speakers__schedule">
    <a href="/schedule.html">
      <strong>Full schedule</strong>
    </a> -
    <a class="map" href="https://drive.google.com/open?id=1N0EgeOHDbUkaewfNUROYjpWLdn4" target="_blank">
      <strong>Map</strong>

        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" version="1">
          <path fill="#0B2333" stroke="#fc5759" d="M1.5 4.5h6v6h-6z"/>
          <path fill="#fc5759" fill-rule="evenodd" d="M4 2.5l1 1 .3.8-2.5 2.2 2.7 2.8 2.3-2.6.7.3 1 1L11 6.5V1H5.5L4 2.5z"/>
          <path fill="#0B2333" fill-rule="evenodd" d="M6 2h4v4l-.5.8-1.3-2-3 3.2L4 6.7l3.3-3-2-1.2L6 2z"/>
        </svg>

    </a>
  </div>
</div>
