<div class="description">
  <p>The frontend guide to life, universe and everything is an inspiring, formative, cutting edge two days gathering of some of the best frontend developers and UX people in the world. </p>

  <p>And Bologna is the perfect setting for a rather unique experience, which will skyrocket you in the inspiring frame of the Duse Theatre, one of the oldest theatres in the city.</p>

  <p>In <a href="https://www.google.com/maps/place/Teatro+Duse,+Via+Cartoleria,+42,+40124+Bologna+Italy" target="_blank">Via Cartoleria <b title="Yes, for real!">42</b></a>.</p>
</div>
