<div class="description">
  <p>The frontend guide to life, universe and everything - or simply #fft16 - is going to be an inspiring, formative, cutting edge gathering of  some of the best frontend developers and UX people in the world. A single ticket will offer you 16 talks distributed in two full days with no overlapping tracks, plus breakfasts, perks and an amazing night party in a famous venue in the centre of Bologna!</p>
  <p>We are working hard to publish the full programme, in the meantime you can meet our first speakers.</p>
</div>
