<div class="site-contacts">
    <h3 class="site-contacts--title">Stay in touch with us!</h3>
    <ul>
        <li>Subscribe to our <a href="http://fromthefront.us2.list-manage.com/subscribe?u=918f93d8162db7b50cc604d8f&id=c35fd91fa3">newsletter</a>.</li>
        <li>Follow us on <a href="https://twitter.com/fromthefront">Twitter</a>.</li>
        <li>Be connected on <a href="https://www.facebook.com/fromthefront/">Facebook</a>.</li>
        <li>Share your experience on <a href="https://fromthefront.slack.com/">Slack</a>.</li>
    </ul>
</div>

<footer class="site-footer">
  Associazione From the Front
  via Caravaggio 36
  40033 Casalecchio di Reno (BO) Italy
  C.F. 91344080378
</footer>
