<head>
  <meta charset="utf-8">
  <!--
                 ,--(_)            .        .     *
   *       .    /.    \
                \:.   /                 _.-----._
                 `---'          \)|)_ ,'         `. _))|)
        |                        );-'/             \`-:(
      -(o)-            .        //  :               :  \\   .
    .   |                      //_,'; ,.         ,. |___\\
           .    __,...,--.     `---':(  `-.___.-'  );----'
              ,' :    |   \          \`. `'-'-'' ,'/
             :   |    ;   ::          `.`-.,-.-.','
          ,-.|   :  _//`. ;|            ``---\` :
         (   \ .- \  `._// |    *             `.'       *
         |\   :   : _ |.-  :              .        .
     .   :\: -:  _|\_||  .-(    _..----..
         :_:  _\\_`.--'  _  \,-'      __ \
         .` \\_,)--'/ .'    (      ..'--`'          ,-.
         |.- `-'.-               ,'                (///)
         :  ,'     .            ;             *     `-'
   *     :         :           /
          \      ,'         _,'          .
           `._       `-  ,-'                       .
            : `--..     :        *                         *
        .   |           |
            |           | SSt
   http://www.ascii-art.de/ascii/ghi/hitchikers_guide.txt
  -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="twitter:card" content="summary">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:image" name="twitter:image" content="{{site.url}}/images/venue.jpg">
  <meta property="og:site_name" content="From the Front 2016">
  <meta property="og:description" content="15th and 16th September 2016, Bologna, Italy">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{site.url}}/">
  <meta property="article:publisher" content="https://www.facebook.com/fromthefront">

  <meta name="twitter:site" content="@fromthefront">

  <link rel="stylesheet" type="text/css" href='//css.tito.io/v1' />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?t={{ site.data['hash'] }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <script src='//js.tito.io/v1' async></script>

  {{!-- Typekit async --}}
    <script>
      (function(d) {
        var config = {
          kitId: 'swn7utt',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
</head>
