{% if include.speaker.talk == 't.b.a.' %}
<a class="speaker" href="{{include.speaker.bio}}" target="_blank" modal-href="{{include.speaker.bio}}">
{% else %}
<a class="speaker" href="{{include.speaker.url}}" rel="modal:open" modal-href="#modal-{{include.index}}">
{% endif %}
  <div class="speaker__details">
    {% unless include.avoid_image == 1 %}
      <div class="speaker__img-wrapper">
        <img src="{{site.baseurl}}/assets/speakers/{{include.speaker.twitter | slugify: 'pretty'}}.jpg" alt="A picture of {{include.speaker.title}}" class="speaker__img">
      </div>
    {% endunless %}

    <div class="speaker__info">
      <h3 class="speaker__name">
        {{include.speaker.title}}
      </h3>

      <p class="speaker__shortbio">
        {{include.speaker.talk}}
      </p>
    </div>
  </div>
</a>


<div id="modal-{{include.index}}" style="display:none">
  <div class="modal__content">
    <img src="{{site.baseurl}}/assets/speakers/{{include.speaker.twitter | slugify: 'pretty'}}.jpg" alt="A picture of {{include.speaker.title}}" class="speaker__img">
    <h2 class="modal__name">{{include.speaker.title}}</h2>
    <h1 class="modal__title">{{include.speaker.talk}}</h1>
    <p class="modal__abstract">{{include.speaker.abstract}}</p>

    <div class="modal__footer">
      <!--<span>-->
        <!--<strong>Schedule:</strong> t.b.a.-->
      <!--</span>-->
      <a href="{{include.speaker.bio}}" target="_blank">
        Learn more about {{include.speaker.name}}
      </a>
    </div>
  </div>
</div>
