<section id="sponsors" class="sponsors">
    <h2 class="sponsors__title">
        Sponsors
    </h2>

    {% include sponsor-section.html site=site section='large' %}
    {% include sponsor-section.html site=site section='medium' %}
    {% include sponsor-section.html site=site section='small' %}
    {% include sponsor-section.html site=site section='xsmall' %}

    <p class="sponsors__help">
        Want to help?
        <br>
        <a target="_blank" href="./assets/FTF_sponsor_pack_2016.pdf">
            Download the sponsorpack
        </a>
    </p>
</section>
