<section id="sponsors" class="sponsors">
    <h3 class="sponsors__title">
        Sponsors
    </h3>

    {% include sponsor-section.html site=site section='large' %}
    {% include sponsor-section.html site=site section='medium' %}
    {% include sponsor-section.html site=site section='small' %}

    <h4 class="sponsors__title">
        Supporters
    </h4>

    {% include sponsor-section.html site=site section='xsmall' section='xsmall' %}

    <h4 class="sponsors__title">
        Media Partners
    </h4>

    {% include sponsor-section.html site=site section='mp'  %}



    <p class="sponsors__help">
        Want to help?
        <br>
        <a target="_blank" href="./assets/FTF_sponsor_pack_2016.pdf">
            Download the sponsor pack
        </a>
    </p>

</section>
