<section id="tickets" class="tickets">
  <h2 class="tickets__title">
    Tickets
  </h2>
  <div class="tickets__text">
    <p>Prices are going to raise getting closer to the conference.</p>
    <p><strong>Regular tickets sale is ending on the 20th of July<br/>or on sell out, whichever comes first. Next tier price <s>250€</s> 230€.</strong><br/>If you are a student please <a href="http://fromthefront.wufoo.com/forms/z7x3k7/" onclick="return winOpen(this),!1"><strong>get in touch</strong></a>, we have a special discount for you.</p>
  </div>
  <div class="tickets__iframe">
    <tito-widget event="fromthefront/2016" ssl-check-disabled></tito-widget>
  </div>
  <div class="tickets__text">
    <p><strong>Everyone involved in the conference needs to adhere to the <a href="http://blog.fromthefront.it/code-of-conduct">Code of Conduct</a></strong></p>
    <p>The ticket includes full access to the 2 days of event. Any other perk (lunch, party, t-shirt, just to name a few) are not guaranteed unless officially announced.</p>
    <p>Tickets cannot be refunded under any circumstance, but they can be transferred. To transfer yours, you may send to the new attendee the link you receive from ti.to after the purchase: the new attendee can then change all the relevant ticket data. Ticket transfers will not involve From the Front staff directly. Due to printing deadlines, please transfer your ticket until 3 September 2016. Thanks for your understanding.</p>
  </div>
</section>
