<section id="tickets" class="tickets">
  <h2 class="tickets__title">
    Tickets
  </h2>
  <div class="tickets__text">
    <p>Prices are going to raise getting closer to the conference.</p>
    <p><b>Regular tickets sale is ending on the 20th of July</b>, late bird price 250€</p>
  </div>
  <div class="tickets__iframe">
    <tito-widget event="fromthefront/2016" ssl-check-disabled></tito-widget>
  </div>
  <div class="tickets__text">
    <h4>Ticket transfer</h4>
    <p>Tickets cannot be refunded under any circumstance, but they can be transferred. To transfer yours, you may send to the new attendee the link you receive from ti.to after the purchase: the new attendee can then change all the relevant ticket data. Ticket transfers will not involve From the Front staff directly. Due to printing deadlines, please transfer your ticket until 3 September 2016. Thanks for your understanding.</p>

    <h4>Code of Conduct</h4>
    <p>From the Front strongly believes that is important for everyone to feel comfortable and therefore requires everyone involved in the conference to adhere to the <a href="http://blog.fromthefront.it/code-of-conduct">Conference Code of Conduct</a></p>
  </div>
</section>
