// Base palette - 2016 palette
$white: #ccfff6;
$black: #0b2333;

//blue
$blue10: #9dfeed;
$blue20: #5ac1bc;
$blue30: #3d8b98;
$blue40: #3a6b83;
$blue50: #1d465e;
$blue60: #14364a;
$blue70: #113856;

//red
$red10: #fc5759;
$red20: #b54251;
$red30: #7d3b5a;
$red50: #fd716f;

// peach
$peach: #FDBB97;
$peach20: #fdb292;

$base-background-color: $black;
$base-text-color: $white;
$primary-color: $red10;
