// Base palette - 2016 palette
$white: #ccfff6;
$peach: #ffac82;
$black: #030b10;

//blue
$blue10: #9dfeed;
$blue20: #5ac1bc;
$blue30: #3d8b98;
$blue40: #3a6b83;
$blue50: #1d465e;
$blue60: #14364a;
$blue70: #113856;

//red
$red10: #fc5759;
$red20: #b54251;
$red30: #7d3b5a;
