.site-contacts {
  text-align: center;
  transform: translateY(-100%);
  left: 3rem;
  color: $peach;
  font-weight: bold;
  padding-bottom: 1rem;

  @include media('>tablet-portrait') {
    position: absolute;
    text-align: left;
  }

  @include media('>desktop') {
    transform: translateY(-150%);
  }

  .site-contacts--title, li {
    line-height: 2;
  }

  .site-contacts--title {
    color: $blue10;
    margin: 0;
  }
}

.site-footer {
  z-index: 101;
  padding: 1rem;
  text-align: center;
}
