.speakers {
  position: relative;
  margin-top: -6px;

  h3 {
    text-align: center;
    margin: $rithm*2 auto 0;
  }
}

.speakers__loop {
  position: relative;
  z-index: 10;
  margin-top: -3rem;

  @include media('>tablet-portrait') {
    margin-top: -8rem;
  }
}
