.speakers {
  position: relative;
  margin-top: -6px;
}

.speakers__loop {
  position: relative;
  z-index: 10;
  margin-top: -3rem;

  @include media('>tablet-portrait') {
    margin-top: -8rem;
  }
}
