$speaker-height: 10rem;

.speaker--unknown * {
  transform: scale(0.9);
}

.speaker--unknown .speaker__info {
  padding: 0 25%;
}

.speaker {
  position: relative;
  width: 49%;
  display: inline-block;
  transform: rotate(-30deg);
  margin-bottom: 2.5em;

  @include media('<tablet-portrait') {
    width: 100%;
  }
}

.speaker__details {
  display: flex;
  align-items: center;
}

.speaker__img-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 100%;
  left: auto;
  right: auto;

  > div {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    text-align: center;
    font-size: 5em;
    color: white;
    line-height: 1em;
    padding-top: 0.5em;
  }
}


.speaker__img {
  border-radius: 100%;
  width: $speaker-height;
  border: 10px solid $peach20;
}

.speaker__name {
  color: $blue80;
  margin: 0;
  font-size: 1.4rem !important;
  line-height: 1.2 !important;
}

.speaker__info {
  width: 100%;
  padding-left: .5em;
}

.speaker__shortbio {
  @include h3;
  margin: 0 !important;
  color: $red40;
  text-shadow:
          -1px 1px 0 $blue80,
          -2px 2px 0 $blue80,
          -3px 3px 0 $blue80;
  line-height: 1.2 !important;
  font-size: 1.4em !important;
}