.speakers {
  position: relative;
  background-color: $peach;
}

.speakers__loop {
  position: relative;
  z-index: 10;
}

.speaker {
  $speaker-height: 10rem;

  position: relative;
  padding: 0 5%;
  text-align: center;
  margin-top: 2rem;

  @include media('>tablet-portrait') {
    display: flex;
    align-items: center;
    height: $speaker-height;
    text-align: left;
  }

  h3 {
    margin: 0;
  }

  &:nth-child(2n) {
    @include media('>tablet-portrait') {
      text-align: right;
    }

    img {
      left: auto;
      right: calc(30% - #{$speaker-height});
    }
  }

  img {
    display: inline-block;
    border-radius: 100%;
    height: $speaker-height;

    @include media('>tablet-portrait') {
      position: absolute;
      left: calc(30% - #{$speaker-height});
    }
  }
}

.speaker__info {
  padding: 0 15%;

  @include media('>tablet-portrait') {
    padding: 0 30%;
  }
}
