.home {
  overflow: hidden;
}

.home__banner {
  position: relative;
  z-index: 10;
}

.home__description {
  position: relative;
  margin-top: -3rem;
  z-index: 3;
  margin-bottom: -5rem;
}

.home__speakers {
  background-color: $peach;
  color: $blue70;
}

.home__ticket {
  background: $peach;
  color: $blue70;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
