.home {
  overflow: hidden;
}

.home__banner {
  position: relative;
  z-index: 10;
  margin-top: 0.5rem;

  @include media('>=tablet-portrait') {
    margin-top: 4rem;
  }
}

.home__description {
  position: relative;
  margin-top: -5rem;
  z-index: 3;
  margin-bottom: -5rem;

  @include media('>=tablet-landscape') {
    margin-top: -8rem;
  }
}

.home__speakers {
  background-color: $peach;
  color: $blue70;
}

.home__ticket, .home__sponsors {
  background: $peach;
  color: $blue70;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: -1px;
}
