$image-height: 130px;

.modal {
  display: none;
}

.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  font-size: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.modal-visible {
  overflow: hidden;
}

.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  position: relative;
  max-width: 90%;
  overflow: visible;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
  border-radius: 10px;
  padding: 0 2rem;
  margin-top: calc(#{$image-height / 2} + 1rem);
  margin-bottom: 1rem;

  @include media('>tablet-portrait') {
    max-width: 50%;
  }
}
.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

a[rel="modal:close"] {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.2);
}

.modal-content {
  text-align: center;
  margin-top: -1 * $image-height / 2;

  img {
    height: $image-height;
    width: $image-height;
    display: inline-block;
    border-color: $red50;
    border-width: 8px;
  }
}

.modal__name {
  color: $black;
  margin: 0;
  font-size: 1.5rem;
}

.modal__title {
  color: $red50;
  font-size: 1.7rem;
  margin: 1rem;
}

.modal__abstract {
  color: $black;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.5;
}

.modal__footer {
  font-size: 1rem;
  color: $black;
  padding-bottom: 1rem;

  > span, > a {
    display: block;
  }

  @include media('>tablet-portrait') {
    padding-bottom: 4rem;

    > span {
      float: left;
    }

    > a {
      float: right;
    }
  }
}